arabic-reshaper==3.0.0
asgiref==3.7.2
asn1crypto==1.5.1
attrs==24.2.0
boto3==1.34.17
botocore==1.34.17
CacheControl==0.14.0
cachetools==5.4.0
cattrs==23.2.3
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==41.0.7
cssselect2==0.7.0
Django==4.2.4
django-cors-headers==4.3.1
django-rest-framework==0.1.0
django-storages==1.14.2
djangorestframework==3.14.0
firebase-admin==6.5.0
flatbuffers==24.3.25
freetype-py==2.3.0
google-api-core==2.19.1
google-api-python-client==2.141.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.17.2
google-cloud-storage==2.18.2
google-crc32c==1.5.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
googlemaps==4.10.0
grpcio==1.65.4
grpcio-status==1.65.4
html5lib==1.1
httplib2==0.22.0
idna==3.6
jmespath==1.0.1
lxml==4.9.4
msgpack==1.0.8
numpy==2.0.1
openmeteo_requests==1.3.0
openmeteo_sdk==1.14.1
oscrypto==1.3.0
pandas==2.2.2
Pillow==10.1.0
platformdirs==4.2.2
proto-plus==1.24.0
protobuf==5.27.3
psycopg2==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycairo==1.25.1
pycparser==2.21
pyHanko==0.21.0
pyhanko-certvalidator==0.26.3
PyJWT==2.9.0
pyparsing==3.1.2
pypdf==3.17.4
pypng==0.20220715.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
PyYAML==6.0.1
qrcode==7.4.2
reportlab==4.0.8
requests==2.31.0
requests-cache==1.2.1
retry-requests==2.0.0
rlPyCairo==0.3.0
rsa==4.9
s3transfer==0.10.0
six==1.16.0
sqlparse==0.4.4
svglib==1.5.1
tinycss2==1.2.1
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
uritemplate==4.1.1
uritools==4.0.2
url-normalize==1.4.3
urllib3==2.1.0
webencodings==0.5.1
whitenoise==6.6.0
xhtml2pdf==0.2.13
